<!DOCTYPE html>
<html class="index" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hem</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <div class="box">
    <div class="todo-container">
      <h2>Hi <%= name %>, this is your <b>to do list</b></h2>
        <div class="todo">
          <form action="/" method="POST" class="todo-header">
            <input type="text" name="content">
            <button id="add" type="submit"><span class="fas fa-plus"></span></button>
          </form>

          <ul class="todo-list">
            <% todoTasks.forEach(details => { %>
              <li class="todo-list-item">
                <div class="todo-list-item-name"><%= details.content %></div>
                <a href="/edit/<%= details._id %>" class="edit">
                  <span class="fas fa-edit"></span>
                </a>
                <a href="/remove/<%= details._id %>" class="remove">
                  <span class="fas fa-times"></span>
                </a>
            </li>
            <% }) %>
          </ul>
          <form action="/logout?_method=DELETE" method="POST">
            <button id="logout" type="submit">Logga ut</button>
          </form>
        </div>
      </div>
    </div>
  </div> 
</body>
</html>
