<!DOCTYPE html>
<html class="index" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hem</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="box">
    <h1>Greetings <%= name %> earthling 👽</h1>
    <form action="/logout?_method=DELETE" method="POST">
      <button id="logout" type="submit">Logga ut</button>
    </form>
  </div>
</body>
</html>
